
#Background {
    /* background-color: #5BD9E7; */
    z-index: 0;
    width: 100%;
    height:100vh;
    height:100%;
}

#Username {
    z-index: 2;

    text-align: center;
    padding: 20px ;
    color: black;
    font-size: 50px;    
}

#Logo {
    /* background-color: white; */
    position: relative;
    left:0;
    bottom:0;
    width: 100%;
    padding: 10px;
    text-align: center;
    /* background-color: #5BD9E7 */
    /* filter: invert(100%) */
}

a {
    text-decoration: none;
    z-index: inherit;
}

.Link-box {
    margin: auto;
    text-align: center;
    /* background-color: #FFD3E8; */
    
    padding: 50px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 20px;
    border-style: solid;
    border-radius: 10px;
    border-color: black;

    color: black;
    font-size: 50px;

    z-index: 2;
}


.Background-image {
    margin: auto;
    left: 0;
    right: 0;
    text-align: center;
    position: absolute;
    z-index: -1;
}