.sign-out-button {
    position: relative;
    text-align: center;
    width: 100px;
    height: 40px;
    right: 20px;
    font-size: 15px;
    background-color: #3498DB;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.link-input {
    padding: 5px;
    position: relative;
    text-align: left;
    left: 30px;
    
}

.title-form {
    width: 30vw;
    border: 1px solid #ccc;
    padding: 12px 20px;
    margin: 8px 0;
    border-radius: 4px;

}

.address-form {
    width: 30vw;
    border: 1px solid #ccc;
    padding: 12px 20px;
    margin: 8px 0;
    border-radius: 4px;

}

.link-submit-button {
    position: relative;
    float: left;
    width: 72px;
    height: 40px;
    left: 35px;
    border-radius: 4px;
    background-color: #3498DB;
    color: white;
    cursor: pointer;
}

.theme-options {
    position: relative;
    left: 20px;
}

#themes {
    position: relative;
    width: 300px;
    height: 20px;
    padding: 20px;
}

.text-color-options {
    position: relative;
    left: 20px;
}

#textColor {
    position: relative;
    width: 300px;
    height: 20px;
    padding: 20px;
}

.button-style-options {
    position: relative;
    left: 20px;
}

#buttonStyle {
    position: relative;
    width: 300px;
    height: 20px;
    padding: 20px; 
}

.enable-photo-options {
    position: relative;
    left: 20px;
}

#photos-enabled {
    position: relative;
    width: 300px;
    height: 20px;
    padding: 20px;
}

.input-file {
    position: relative;
    left: 20px;
}

.settingsBox {
    position: relative;
    text-align: left;
    left: 30px;
}

.photo-button {
    position: relative;
    background-color: #3498DB;
    color: white;
    padding: 10px;
    font-size: 12px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#photo-upload {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

.save-button {
    position: relative;
    width: 60px;
    height: 35px;

    border: solid;
    border-color: #3498DB;
    border-radius: 4px;

    cursor: pointer;
}

.link-buttons {
    position: relative;
    text-align: left;
    left: 30px;
}

.extern-view {
    font-size: 15px;
    width: 200px;
    height: 40px;
    left: 35px;
    border-radius: 4px;
    background-color: #3498DB;
    color: white;
    cursor: pointer;
}

.stats-view {
    font-size: 15px;
    width: 200px;
    height: 40px;
    left: 35px;
    border-radius: 4px;
    background-color: #3498DB;
    color: white;
    cursor: pointer;
}

.split {
    width: 50%;
    position: absolute;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
    top: 240px;
    z-index: 1;
}

.left {
    left: 0;
    background-color: white;
    border-left: solid #ff6666 3vw;
    height: 75vh;
    /* background-color: #a5a5b2; */
}

.right {
    right: 0;
    background-color: #5BD9E7;
    border-left: solid black 1.5px;
    height: 75vh;
}

.App-header {
    background-color: #282c34;
    min-height: 222px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    z-index: -1;
  }

  .App-onelink {
    background-color: white;
    border: solid;
    color: black;
    width: 25vw;
    transform: translate(-5%, 0);
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 1;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
  }