.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}



.App-link {
  color: #61dafb;
}

.App-list {
  margin: auto;
  width: 80%;
  list-style-type: none;
}



.App-sylLogo {
  position: absolute;
  width: 320px;
  height: 70px;
  top: 0px;
  left: 550px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
